<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kingspeak.User.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Kingspeak.User.Service.Properties.Settings>
            <setting name="Kingspeak_User_Service_UUMSUserService_FZUUMS_UserService"
                serializeAs="String">
                <value>http://192.168.3.88:8091/UserService/FZUUMS_UserService.asmx</value>
            </setting>
        </Kingspeak.User.Service.Properties.Settings>
    </applicationSettings>
</configuration>