
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLTE.cshtml";
}

@section Style{

}



<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        欢迎进入
        
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
   
</section>
<!-- /.content -->


@section scripts{

}
