
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLTE.cshtml";
}

@section Style{

}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        用户管理
        <small>管理所有用户信息</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="row" id="toolbar">
        <div class="col-sm-3">
            <div class="input-group">
                <div class="input-group-btn">
                    <select id="searchType" style="width:auto;" class="form-control">
                        <option value="1">用户名</option>
                        <option value="2">真实姓名</option>
                    </select>
                </div>
                <input type="text" class="form-control" placeholder="请输入查询关键字" id="searchkey" />
                <div class="input-group-btn">
                    <button id="btn_search" class="form-control">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        搜索
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <select class="form-control" id="selresource">
                <option value="0">来源筛选</option>
                @{
                    if (ViewBag.AppList != null)
                    {
                        foreach (var a in ViewBag.AppList)
                        {
                            <option value="@a.ID">@a.AppName</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="btn-group">
            <button id="btn_export" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>导出
            </button>
        </div>
       
    </div>

    <table id="table" class="table-striped table-hover table-condensed"></table>
</section>
<!-- /.content -->

@section scripts{

    <link href="~/Content/AdminLTE/bower_components/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Content/AdminLTE/bower_components/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Scripts/AdminPage/UserIndex.js"></script>
}
